* {
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 75%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: inherit;
}

figure {
  padding: 0px;
  margin: 0px;
}

img {
  margin-right: 10px;
  object-fit: contain;
  height: 300px;
}
