* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f0efeb;
  font-family: Helvetica, Tahoma, "Trebuchet MS", "Times New Roman", Georgia;
  color: #a5a58d;
}

.header {
  background-color: #fff1e6;
  display: inline-flex;
  width: 100%;
}

.header__title {
  color: #cb997e;
  font-size: 3em;
  margin: 0px 10px;
  padding: 0px;
}

.header__nav {
  margin-left: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.header__nav__item {
  display: inline-block;
  margin-left: 30px;
}

h2 {
  font-size: 1.4em;
  background-color: #b7b7a4;
  text-align: center;
  color: #fff1e6;
  margin: 10px;
}

.subtitle-images {
  margin: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

figure {
  margin: 0px;
  padding: 10px;
}

section {
  margin: 30px;
  background-color: #fff1e6;
  border-radius: 20px;
}

img {
  padding: 20px;
  background-color: #cb997e;
  margin-left: 10px;
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 90px;
}

li {
  color: #cb997e;
  padding: 0px;
}

ul {
  display: flex;
  padding: 0px;
  justify-content: center;
}

.links {
  margin-right: 20px;
}

h3 {
  color: #cb997e;
  text-align: center;
  background-color: #fff1e6;
  border-radius: 5px;
}

ol {
  background-color: white;
  list-style-type: square;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
