body {
  font-size: larger;
  font-family: Helvetica, Tahoma, "Trebuchet MS", "Times New Roman", Georgia;
  color: #0081a7;
  margin-left: 30px;
}

header {
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: #ee9b00;
  padding: 5px;
  display: flex;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

.header__title {
  color: white;
  font-size: 1.4em;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  color: tomato;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-color: #005f73;
  text-decoration-style: wavy;
}

.paragraph {
  background-color: #f8edeb;
  padding: 10px;
  font-size: 17pt;
  color: #005f73;
  border-radius: 10px;
}

img {
  object-fit: fill;
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  display: flex;
}

.header__logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
}
