* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Tahoma, "Trebuchet MS", "Times New Roman", Georgia;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ee9b00;
  padding: 5px;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.header__title {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  margin: auto 5px;
  display: inline-block;
}
.header .miniLogo {
  margin: auto 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: inline-block;
}
.css-logo {
  position: absolute;
  top: 0px;
  width: 100%;
}

.css-logo img {
  height: 48px;
  width: 48px;
  text-align: center;
  margin-left: calc(50% - 24px);
  margin-right: calc(50% - 24px);
  border-radius: 50%;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

.card {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 122, 153, 0.9);
  color: #f8edeb;
}

.main-section {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 25px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.main-section .paragraph {
  width: calc(100% - 220px);
  display: inline-block;
}

.main-section .paragraph p {
  margin-left: 0px;
  padding: 0px;
}

.images {
  margin: 0px;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

main {
  padding: 20px;
}

.main-title h1 {
  margin-top: 50px;
  margin-left: 20px;
}

.main-title {
  margin-bottom: 15px;
  color: #ee9b00;
}

.main-title hr {
  width: 300px;
  border: 2px;
  border-color: #005f73;
  border-style: solid;
}

.information {
  display: inline-flex;
}

.information div {
  height: auto;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 48%;

  color: #1d3557;
}

.information__1 {
  margin-right: auto;
  margin-left: 20px;
}

.information__2 {
  margin-right: 20px;
  margin-left: auto;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  box-shadow: none;
}

footer {
  color: white;
  background-color: #ee9b00;
  width: 100%;
  height: 30px;
  margin-bottom: 0px;
  padding: 5px;
}

footer p {
  margin-top: auto;
  margin-bottom: 0;
}

.section-colors {
  width: 100%;
  padding: 20px;
}

h2 {
  color: #1d3557;
  margin-bottom: 10px;
}

.section-colors {
  padding: 20px;
  height: 100%;
  margin: 0px;
}

.section-colors__boxes .card {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.section-colors__boxes div {
  width: 300px;
  height: 300px;
  display: inline-block;
  text-align: center;
}
.section-colors__boxes .box1 {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
}
.section-colors__boxes .box2 {
  background: repeating-linear-gradient(
    45deg,
    yellow 0px,
    yellow 40px,
    green 40px,
    black 80px
  );
}
.section-colors__boxes .box3 {
  background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
}

.section-colors__boxes .box4 {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  transform: scale(0.5);
  z-index: 1;
}

.section-colors__boxes .box5 {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  transform: scale(0.8);
}

.section-colors__boxes .box5:hover {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  transform: scale(0.75);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.section-colors__boxes .box6 {
  transform: skewX(10deg);
}

.section-colors__boxes .box7 {
  transform: skewY(-10deg);
}

.section-colors__boxes .moon {
  position: relative;
  right: 40px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 30px 10px 0 0 rgb(23, 23, 31);
}

.section-colors__boxes .heart {
  background-color: pink;
  border-radius: 0;
  position: relative;
  top: 50px;
  width: 200px;
  height: 200px;
  transform: scale(0.5) rotate(-45deg);
  box-shadow: none;
}

.section-colors__boxes .heart::after {
  position: absolute;
  content: "";
  background-color: pink;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 100px;
  border-radius: 50%;
}

.section-colors__boxes .heart::before {
  position: absolute;
  background-color: pink;
  content: "";
  width: 200px;
  height: 200px;
  bottom: 100px;
  left: 0;
  border-radius: 50%;
}

.animations {
  padding: 20px;
}

.animations .boxes {
  display: inline-block;

  text-align: center;
  height: 200px;
  width: 200px;
}

.animations .boxes .rainbow-animation {
  width: 80%;
  height: 80%;
  animation-name: rainbow;
  animation-duration: 4s;
  background: orchid;
  margin-left: auto;
  margin-right: auto;
}
@keyframes rainbow {
  0% {
    background-color: blue;
  }
  50% {
    background-color: powderblue;
  }
  100% {
    background-color: orangered;
  }
}

.animations .boxes .button-hover {
  width: 50%;
  height: 50%;
  margin: 20px auto;
  background-color: #005f73;
  border-radius: 50%;
}
.animations .boxes .button-hover:hover {
  animation-name: button;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes button {
  100% {
    background-color: #008eaa;
    height: 60%;
    width: 60%;
  }
}

.animations .boxes .movement {
  width: 20%;
  height: 20%;
  position: relative;
  background-color: #005f73;
  border-radius: 50%;
  animation-name: movement;
  animation-duration: 5s;
}
@keyframes movement {
  0% {
    left: 0px;
  }
  50% {
    left: 150px;
  }
  100% {
    left: 20px;
  }
}

.animations .boxes .movement-fades {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 40px 0;
  left: 0;
  border-radius: 50%;
  animation-name: movement-f;
  animation-duration: 3s;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  animation-iteration-count: infinite;
}

@keyframes movement-f {
  50% {
    left: 60%;
    opacity: 0.1;
  }
}

.animations .boxes .iterations {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 0 auto;
  left: 0;
  border-radius: 50%;
  animation-name: iterations;
  animation-duration: 1s;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  animation-iteration-count: infinite;
}

@keyframes iterations {
  0% {
    top: 0px;
  }
  50% {
    top: 90px;
    width: 100px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}

.animations .boxes .beat {
  background-color: lightpink;
  position: relative;
  margin: 50px auto;
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.animations .boxes .beat::after {
  position: absolute;
  content: "";
  background-color: lightpink;
  width: 50px;
  height: 50px;
  bottom: 0;
  left: 25px;
  border-radius: 50%;
}
.animations .boxes .beat::before {
  position: absolute;
  content: "";
  background-color: lightpink;
  width: 50px;
  height: 50px;
  bottom: 25px;
  left: 0;
  border-radius: 50%;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.4) rotate(-45deg);
  }
}
