* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Tahoma, "Trebuchet MS", "Times New Roman", Georgia;
}

.header {
  margin-bottom: 10px;
  background-color: #ee9b00;
  padding: 5px;
  width: 100%;
}

.header__title {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  margin: auto 5px;
  display: inline-block;
}
.header .logo {
  margin: auto 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: inline-block;
}
.main-section {
  background-color: #005f73;
  height: 100%;
  padding: 20px;
  font-size: 1.7em;
  color: #f8edeb;
  border-radius: 5px;
  margin-top: 0px;
}
.main-section .paragraph {
  margin: 0px;
  padding: 0px;
  height: 00px;
  width: calc(100% - 220px);
  display: inline-block;
}

.main-section .paragraph p {
  margin-left: 0px;
  padding: 0px;
}

.images {
  margin: 0px;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

main {
  padding: 20px;
}

.main-title {
  font-size: 2em;
  color: #ee9b00;
}
